<div
  class="bg-[#E8EEFF] flex flex-col items-center justify-center h-[500px] w-[100%] p-10 text-center space-y-6"
>
  <h1 class="text-5xl">Master Any Language with LanguaForge</h1>
  <h2 class="text-[#3b3b3b] text-xl w-200">
    Join millions of learners worldwide. Build streaks, compete with friends, and <br /> achieve fluency through interactive lessons and real-world practice.
  </h2>

  <span class="flex flex-row">
    <button class="bg-[#0f0f0f] text-white mr-40 text-sm">
      Start Learning Free
    </button>

    <button class="bg-white text-[#0f0f0f] text-sm">See What Others Say</button>
  </span>
</div>

