<nav
  class="text-white font-bold h-[60px] w-[100%] bg-sky-500 flex p-3 shadow-sm"
>
  <!-- sidebar -->
  <img src="Languaforge.png" class="ml-[20%] mr-0.5" />
  <h2 class="mr-[40%] font-[400] text-xl">LanguaForge</h2>
  <!----
  <a *ngIf="!isLoggedIn" href="/login"class="mr-[40px] hover:cursor-pointer hover:underline transition-all duration-300">
    <h3 class="mr-[40px]">Login</h3>
  </a>
  <a *ngIf="!isLoggedIn" href="/register" class="mr-[40px] bg-[#0f0f0f] text-[#f0f0f0] rounded-md hover:cursor-pointer hover:bg-[#3b3b3b] transition-all duration-300 flex items-center justify-center pb-4 pt-4 pl-2 pr-2 mb-1">
    <h3>Get Started</h3>
  </a>

  <h3 *ngIf="isLoggedIn" class="mr-[40px] hover:cursor-pointer hover:underline transition-all duration-300" (click)="logout()">
    Log out
  </h3>
!-->
</nav>
